.login-form{
    width:100%;
    max-width:330px;
    padding: 15px;
    margin: auto;
    text-align: center;

}
.m-circle{
   
        background: royalblue;
        color: #fff;
        padding: 3px 12px;
        border-radius: 50%;
        font-size: 35px;
        position: relative;
        margin-right: 21px;
        top: -75px;
}

.wel{
    margin-top: 150px;
    margin-left: 2.5px;
    color: snow;
}
.title{
float: left;}

.su{
    /* padding-top: 10px; */
    /* margin-top: 40px; */
    margin-left: 20px;
}
